<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>学校管理系统</title>
    <link rel="shortcut icon" th:href="@{/icework/favicon.png}">
    <link th:href="@{/icework/css/index.css}" rel="stylesheet"></head>

  <body>
    <div id="ice-container"></div>
  <script type="text/javascript" th:src="@{/icework/js/index.js}"></script></body>
</html>
