<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script th:src="@{/js/jquery/2.0.0/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap/3.3.6/bootstrap.min.js}"></script>

    <link th:href="@{/css/maintop.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/maintop.css}" rel="stylesheet">
    <link th:href="@{/css/tableset.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/maintop.js}"></script>
    <title>购物车界面</title>
    <script type="text/javascript">
        $(function () {
            var boxs = $("input[type='checkbox'][id^='box_']");

            /** 给全选按钮绑定点击事件  */
            $("#checkAll").click(function () {
                // this是checkAll  this.checked是true
                // 所有数据行的选中状态与全选的状态一致
                boxs.attr("checked", this.checked);
            })

            /** 删除员工绑定点击事件 */
            $("#delete_btn").click(function () {
                /** 获取到用户选中的复选框  */
                var checkedBoxs = boxs.filter(":checked");
                if (checkedBoxs.length < 1) {
                    alert("当前无选中项！");

                } else {
                    /** 得到用户选中的所有的需要删除的ids */
                    var ids = checkedBoxs.map(function () {
                        return this.value;
                    });


                    if (confirm("确认删除选中的信息么?")) {
                        window.location = "../userOperation/deleteBookFromCart?cart_ids=" + ids.get();
                    }
                }
            });

            $("#submit_cart").click(function () {
                /** 获取到用户选中的复选框  */
                var checkedBoxs = boxs.filter(":checked");
                console.log(checkedBoxs.length);
                if (checkedBoxs.length < 1) {
                    alert("当前无选中项！");

                } else {
                    /** 得到用户选中的所有的需要删除的ids */
                    var ids = checkedBoxs.map(function () {
                        return this.value;
                    });


                    if (confirm("确认生成订单么?")) {

                        window.location = "../userOperation/placeOrder?bookIds=" + ids.get();
                    }
                }
            });

        });
    </script>
</head>
<body>
<div class="wrap">
    <div id="header">
        <div class="top" id="top">
            <li>
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        我的地址
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-header">
                            <span style="font-weight: bold; font-size: 13px;">已有地址</span>
                        </li>
                        </li>

                        <li th:if="${addresses}" th:each="address:${addresses}">
                            <a th:id="${address.address_id }" class="update_address"
                               th:text="${address.content}"></a>
                        </li>


                        <li role="presentation" th:unless="${addresses}">
                            <a href="#">没有地址信息</a>
                        </li>


                        <li class="dropdown-header">
                            <span style="font-weight: bold; font-size: 13px;">操作</span>
                        </li>

                        <li role="presentation">
                            <a class="pop_addressDiv">添加新地址</a>
                        </li>
                    </ul>
                </div>
            </li>
            <div id="topright">

                <li th:if="${session.user_session.login_name}">
                    <a href="#">欢迎您,<span th:text="${session.user_session.login_name}"></span></a>
                </li>

                <li th:unless="${session.user_session.login_name}">
                    <a th:href="@{/user/loginForm}">你好！请登录</a>
                </li>
                <li th:unless="${session.user_session.login_name}">
                    <a th:href="@{/user/registerForm}">免费注册</a>
                </li>
                <li>|
                    <a th:href="@{/order/history}">我的订单</a>
                </li>
                <li>|
                    <a href="">网站导航<i class="arrow"> </i></a>
                    <ul>
                        <li><a th:href="@{/user/userInfo}">个人中心</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <!--  购物车表单-->
    <div class="l-width">
        <div class="l-width table_title" style="height: 50px;">
            <h2>购物车Order信息</h2>
        </div>
        <table id="tb" class="table table-striped table-bordered table-hover  table-condensed booklist">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkAll"/></th>
                <th>书名</th>
                <th>作者</th>
                <th>索取号</th>
                <th>出版年份</th>
                <th>出版社</th>
                <th>数目</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="book:${cart}" varStatus="stat">

                <tr>
                    <td><input type="checkbox" id="box_${stat.index}" th:value="${book.cart_id}"/></td>
                    <td>
                        <span th:text=" ${book.book_name }"></span>
                    </td>
                    <td>

                        <span th:text=" ${book.book_author }"></span>
                    </td>
                    <td>
                        <span th:text=" ${book.book_index }"></span>
                    </td>
                    <td>
                        <span th:text=" ${book.publish_year }"></span>
                    </td>
                    <td>

                        <span th:text=" ${book.book_press }"></span>
                    </td>
                    <td>
                        <span th:text=" ${book.number }"></span>
                    </td>
                    <td>
                        <a th:href="@{'/userOperation/deleteBookFromCart?cart_ids='+${book.cart_id}}"
                           class="btn btn-danger btn-sm">删除</a></td>
                </tr>
            </div>


            </tbody>
        </table>
        <div class="l-width" style="height: 50px; background-color: #666">
            <button id="delete_btn" class="btn btn-danger btn-lg pull-left" style="margin-top: 2px; margin-left: 10px;">
                批量删除
            </button>
            <button id="submit_cart" class="btn btn-success btn-lg pull-right"
                    style="margin-top: 2px; margin-right: 10px;">去下单
            </button>
        </div>
    </div>


    <div id="footer">
        <div class="l-width">
            <div class="content">
                <p>Copyright©2017
                    <a href="http://www.ctgu.edu.cn/" target="_blank">三峡大学</a>
                    图书馆版权所有　　地址：宜昌市大学路8号　　邮编：443002　　馆长信箱：lib@ctgu.edu.cn　　电话：0717-6392083　　</p>
            </div>
        </div>
    </div>
    <div id="right_item">
        <ul>
            <li><a th:href="@{/user/main}"><img th:src="@{/images/home.png}"/></a>
                <div class="toggle_title">返回首页</div>
            </li>
            <li><a th:href="@{/user/userInfo}"><img th:src="@{/images/geren.png}"/></a>
                <div class="toggle_title">个人信息</div>
            </li>
            <li><a th:href="@{/userOperation/bookCart}"><img th:src="@{/images/shopcart.png}"/></a>
                <div class="toggle_title">购物车</div>
            </li>
            <li><a th:href="@{/order/history}"><img th:src="@{/images/history.png}"/></a>
                <div class="toggle_title">订单管理</div>
            </li>
            <li style="height: 70px;" class="depart"></li>
            <li><a id="loginout"><img th:src="@{/images/zhuxiao.png}"/></a>
                <div class="toggle_title">退出登陆</div>
            </li>
            <li><a href="#top"><img th:src="@{/images/top01.png}"/></a>
                <div class="toggle_title return_top">返回顶部</div>
            </li>
        </ul>
    </div>


</div>
<div class="bg_waitsearch">
    <div class="bg_wait img-circle">
    </div>
</div>

<div class="bg_pop">
    <div class="pop">
        <img alt="关闭窗口" th:src="@{/images/close_pop.png}" id="close_pop" width="20px" height="20px"/>
        <h2>添加新地址</h2>
        <div class="address_content">
            <div><label for="newcontent" class="control-label">地址内容:</label>
                <input class="form-control" type="text" name="newcontent" id="newcontent"/>
            </div>
            <div><label for="newname" class="control-label">收件人:</label>
                <input class="form-control" type="text" name="newname" id="newname"/>
            </div>
            <div><label for="newtel" class="control-label">电&nbsp;&nbsp;话:</label>
                <input class="form-control" type="text" name="newtel" id="newtel"/>
            </div>
        </div>
        <div align="center" class="btn_address">
            <button id="addaddr_btn" class="btn btn-success form-control updateuser ">添加新地址</button>
        </div>
    </div>
</div>
<!-- 修改地址操作 -->
<div class="bg_pop1">
    <div class="pop1">
        <img alt="关闭窗口" th:src="@{/images/close_pop.png}" id="close_pop1" width="20px" height="20px"/>
        <h2>修改地址</h2>
        <div class="address_content">
            <div hidden>
                <label for="user_id" class="control-label" hidden>用户ID:</label>
                <input class="form-control" name="user_id" id="user_id" type="hidden"
                       th:value="${session.user_session.user_id}"/>
            </div>
            <div><label for="content" class="control-label">地址内容:</label>
                <input class="form-control" type="text" name="content" id="content"/>
            </div>
            <div><label for="name" class="control-label">收件人:</label>
                <input class="form-control" type="text" name="name" id="name"/>
            </div>
            <div><label for="tel" class="control-label">电&nbsp;&nbsp;话:</label>
                <input class="form-control" type="text" name="tel" id="tel"/>
            </div>
        </div>
        <div align="center" class="btn_address">
            <button id="updateaddr_btn" class="btn btn-success form-control updateaddr">修改地址</button>
            <button id="deleteaddr_btn" class="btn btn-danger form-control deleteaddr">删除地址</button>
        </div>
    </div>
</div>
<!--每次操作完后的提示消息  -->
<div class="alert alert-info alert-dismissibl tishi " id="xiaoxi" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <span id="message" style="font-size: 14px;"></span>
</div>
</body>
</html>