<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>页面找不到了</title>
    <script th:src="@{/mui/js/mui.min.js}"></script>
    <link th:href="@{/mui/css/mui.min.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
</head>

<body>
<header class="mui-bar mui-bar-nav mui-bar-transparent">
    <a href="javascript:void(0);" class="mui-pull-left"><i class="mui-icon mui-icon-left-nav"><span
            style="font-size: 18px;" id="back">返回</span></i></a>
    <h1 id="chattitle" class="mui-title">页面找不到了</h1>
</header>
<div class="mui-content">
</div>
<script th:src="@{/mui/js/mui.min.js}"></script>
<p style="text-align:center;margin-top: 10%" class="mui-row">
    <img th:src="@{/images/404.png}" alt="404" style="width:100%;"/>
</p>
<div class="mui-button-row" style="margin-top: 5%">
    <a id="back" type="button" class="mui-btn mui-btn-primary" th:href="@{/user/main}">返回首页</a>
</div>
</body>
<script type="text/javascript">
    document.getElementById("back").addEventListener("tap",function () {
        window.history.back();
    });
</script>
</html>